.photo-frame {
    width: 300px;
    border: 5px solid blue;
    margin: 10px;
    padding: 15px;
}
.mark-sheet {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
}

.mark-sheet th, .mark-sheet td {
    border: 1px solid #333;  
    padding: 12px;            
    text-align: center;
}

.mark-sheet thead tr {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;        
}

.mark-sheet tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.profile-card {
    border: 3px solid #004ba0; /*  Blue */
    background-color: #ffcc00; /*  Yellow */
    border-radius: 15px;
    width: 280px;
    padding: 25px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    margin: 20px auto;
}

.profile-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;

    border: 3px solid #004ba0;
}

.profile-card h3 {
    color: #004ba0;
    margin: 15px 0 5px;
}

.profile-card .role {
    font-weight: bold;
    color: #333;
}

.profile-card .stats {
    margin-top: 15px;
    font-size: 14px;
    border-top: 1px solid rgba(0, 75, 160, 0.3);
    padding-top: 10px;
}
